/* User Scheme Preference: Dark inversions */
@media (prefers-color-scheme: dark) {
  .box {
    color: var(--light);
    background-color: var(--dark2);
  }

  .box.invert {
    color: var(--dark);
    background-color: var(--light);
  }

  
  
  /* cards */
  .card {
    border: 1px solid var(--alert);
    box-shadow: rgba(240, 52, 46 / 30%) 12px 10px 12px 4px;
  }

  .box.invert .card {
    border: 1px solid #000;
    box-shadow: rgba(0, 0, 0, 0.50) 12px 10px 12px 4px;
  }
  

  input,
  textarea {
    color: var(--dark) !important;
  }

}

